.pageHeader {
    margin: 0 35px;
}

.emptyCart{
    font-family: 'BIZ UDPMincho', serif;
    margin: 90px;
}

.home {
    margin-bottom: 40px;
}

.prods {
    font-family: 'BIZ UDPMincho', serif;
    color: black;
    background-color:#D22779;
    padding: 10px;
}

.cartTitle {
    font-family: 'BIZ UDPMincho', serif;
    float: left;
    font-size: 30px;
    text-align: start;
    line-height: 26.18px;
    margin: 40px;
    color: #540E33;
}

.total {
    font-weight: bold;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btns {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty {
    padding: 15px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'BIZ UDPMincho', serif;
    margin: 25px;
    background-color: #D22779;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.continue {
    padding: 15px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'BIZ UDPMincho', serif;
    margin: 25px;
    background-color: #D22779;
    color: white;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

