.PageHeader {
    margin: 0 35px;
}

.emptyCart{
    font-family: 'BIZ UDPMincho', serif;
    margin: 90px;
}

.home {
    margin-bottom: 40px;
}

.prods {
    font-family: 'BIZ UDPMincho', serif;
    color: black;
    background-color:#D22779;
    padding: 10px;
}

.CartTitle {
    font-family: 'BIZ UDPMincho', serif;
    float: left;
    font-size: 27px;
    text-align: start;
    line-height: 26.18px;
    margin: 40px;
}

.Total {
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Btns {
    margin-top: 50px;
    margin-bottom: 50px;
}

.empty {
    padding: 15px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'BIZ UDPMincho', serif;
    margin: 25px;
    background-color: #D22779;
    color: white;
}

.continue {
    padding: 15px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'BIZ UDPMincho', serif;
    margin: 25px;
    background-color: #D22779;
    color: white;
}

