.prodCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid grey;
}

.prodCart p{
    width: 200px; 
}

.removeButton {
    padding: 15px;
    border: none;
    cursor: pointer;
    font-family: 'BIZ UDPMincho', serif;
    margin: 25px;
    background-color: #D22779;
    color: white;
    border-radius: 50%;
    font-weight: bold;
}
