input {
    border-radius: 3px;
    width: 250px;
    height: 40px;
    border: none;
    font-family: 'BIZ UDPMincho', serif;
    padding-left: 0.5rem;
}

label {
    font-size: 16px;
    font-family: 'BIZ UDPMincho', serif;
    margin-bottom: 3rem;
}

.BuyTitle {
    font-family: 'BIZ UDPMincho', serif;
    margin: 5rem 0;
}

.Code {
    margin: 3rem 0;
    font-weight: bold;
    font-family: 'BIZ UDPMincho', serif;
    color:black;
}

.Form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Inputs {
    display: flex;
    flex-direction: column;
}

.Field {
    display: flex;
    flex-direction: row;
}

.Finish {
    padding: 2px;
    width: 200px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-family: 'BIZ UDPMincho', serif;
    margin: 25px;
    background-color: #540E33;
    color: white;
    padding: 1rem;
    position: relative;
}

