.icon {
    fill: none;
    height: 21px;
    overflow: visible;
    position: relative;
    width: 24px;
    float: right;
    margin-right: -3rem;
}

.wine {
    align-items: center;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card >* {
    margin: 2px 0;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.DetailBtn {
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 48px;
    width: 200px;
    font-family: 'BIZ UDPMincho', serif;
    background-color: #CCAFAF;
    border: none;
    border-radius: 4px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
    cursor: pointer;
}

