.NavBar {
    width: 100%;
    background-color: #540E33;
    padding: 2rem;
}

.Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0.5rem 2.5rem;
    color: #FDC8B7;
    font-family: sans-serif;
    font-size:14px;
    font-weight: 100;
    cursor: pointer;
    transition: 0.5s all ease;
    line-height: 22px;
}

.navItem {
    color: #CCAFAF;
    font-family: 'BIZ UDPMincho', serif;
    padding-top: 0.5rem;
}

.navItem:hover {
    color: #900C3F;
    font-weight: bold;
}

.navSelectedItem {
    font-weight: bold;
    color: #DE356A;
    font-family: 'BIZ UDPMincho', serif;
    padding-top: 0.5rem;
}

.neon {
    color: white;
    text-shadow:
        0 0 5px rgb(255, 0, 153),
        0 0 10px rgba(255,0,153),
        0 0 20px rgba(255,0,153),
        0 0 40px rgb(127, 50, 90),
		0 0 80px rgba(127,50,90),
		0 0 90px rgba(127,50,90),
		0 0 100px rgba(127,50,90),
		0 0 140px rgba(127,50,90),
		0 0 180px rgba(127,50,90);   
    }
