footer {
    background-color: #540E33;
    width: 100%;
    clear: both;
    margin-top: 0px;
    padding-top: 0px;
    left: 0;
    bottom: 0;
    overflow: visible;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    color: white;
    font-size: 14px;
}

ul {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    font-size: 24px;
}

.social {
    margin-right: 16px;
}
