*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #CCAFAF;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  justify-content: center;
}

p {
  font-family: 'BIZ UDPMincho', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Satisfy', cursive;
  color: #900C3F; 
}

h1 {
  font-size: 60px;
  font-weight: lighter;
}

li {
  list-style: none;
}

.DetailBtn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 48px;
    width: 200px;
    height: 60px;
    padding: 12px 24px;
    background-color: #CCAFAF;
    border: none;
    border-radius: 4px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
    cursor: pointer;
}
