*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #CCAFAF;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  justify-content: center;
}

p {
  font-family: 'BIZ UDPMincho', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Satisfy', cursive;
  color: #900C3F; 
}

h1 {
  font-size: 60px;
  font-weight: lighter;
}

li {
  list-style: none;
}

.DetailBtn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 48px;
    width: 200px;
    height: 60px;
    padding: 12px 24px;
    background-color: #CCAFAF;
    border: none;
    border-radius: 4px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
    cursor: pointer;
}

  .loader {
    width: 150px;
    height: 150px;
    background-color: #ff3d00;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.5) inset,
      0 5px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45%;
    top: -40%;
    background-color: #fff;
    animation: wave 5s linear infinite;
  }
  .loader:before {
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.4);
    animation: wave 5s linear infinite;
  }
  @keyframes wave {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
